.input {
	width: 100%;
	padding: 7px 15px;

	color: var(--black);
	border: none;
	border: 1px solid transparent;
	border-radius: 5px;

	outline-color: var(--primary);
	background-color: var(--white);
	box-shadow: 0 4px 4px rgb(0 0 0 / 5%);

	font-family: var(--font-family);
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	resize: none;
}

.input::placeholder {
	color: var(--gray);
}

.textAreaWrapper {
	position: relative;
}

.error {
	border: 1px solid var(--red);
}

.errorMessage {
	position: absolute;
	bottom: -15px;
	left: 0;

	color: var(--red);
}
