.product {
	display: grid;

	margin-top: 30px;

	padding: 30px 30px 20px;
	grid-template-columns: [start] 70px [logoend] 30px [titlestart] calc(50% - 100px) [middle] 1fr [pricestart] auto [priceend] 40px [creditstart] auto [creditend] 40px [ratestart] auto [end];
}

.logo {
	grid-column: start / logoend;
	grid-row: 1 / span 2;
}

.title,
.tags {
	grid-column: titlestart / middle;
}

.price,
.priceTitle {
	grid-column: pricestart / priceend;

	white-space: nowrap;
}

.credit,
.creditTitle {
	grid-column: creditstart / creditend;
}

.rating,
.rateTitle {
	grid-column: ratestart / end;

	white-space: nowrap;
}

.rateTitle a {
	color: var(--primary);
}

.hr,
.description {
	grid-column: start / end;
}

.feature {
	grid-column: start / middle;
}

.advBlock {
	grid-column: middle / end;
}

.actions {
	grid-column: start / end;
}

.logo img {
	border-radius: 5px;
}

.title {
	align-self: end;

	font-size: 20px;
	font-weight: 600;
	line-height: 27px;
}

.price,
.credit {
	align-self: end;

	font-size: 20px;
	line-height: 27px;
}

.rating {
	align-self: end;
}

.priceTitle,
.creditTitle,
.rateTitle {
	font-size: 14px;
	font-weight: 300;
	line-height: 19px;
}

.month {
	font-size: 14px;
	line-height: 19px;
}

.oldPrice {
	margin-left: 5px;
}

.category {
	margin-top: 7px;
}

.description {
	margin-bottom: 15px;

	font-size: 16px;
	line-height: 24px;
}

.reviewButton {
	margin-left: 20px;
}

.advBlock {
	font-size: 16px;
	line-height: 22px;
}

.advTitle {
	margin-bottom: 5px;

	font-weight: 700;
}

.advantages,
.disadvantages {
	padding-left: 15px;
}

.advantages {
	margin-bottom: 20px;

	border-left: 2px solid var(--green);
}

.disadvantages {
	border-left: 2px solid var(--red);
}

.characteristics {
	display: grid;
	align-items: center;

	padding-right: 60px;

	font-size: 16px;
	line-height: 32px;
	grid-template-columns: auto 1fr auto;
	gap: 15px;
}

.characteristicsName {
	font-weight: 700;
}

.characteristicsDots {
	margin-top: 10px;

	border-bottom: 1px dotted #C4C4C4;
}

.characteristicsValue {
	font-weight: 500;
}

.reviews {

}

.closed {
	overflow: hidden;

	max-height: 0;
	padding: 0;
}

.opened {
	/* overflow: visible; */
	max-height: auto;
	padding: 30px;
}

@media screen and (max-width: 1320px) {
	.product {
		grid-template-areas:
			"logo . title title title title title"
			"logo . tags tags tags tags tags"
			"price price price . credit . rating"
			"priceTitle priceTitle priceTitle . creditTitle . rateTitle"
			"hr hr hr hr hr hr hr"
			"description description description description description description description"
			"feature feature feature feature feature feature feature"
			"advBlock advBlock advBlock advBlock advBlock advBlock advBlock"
			"hr2 hr2 hr2 hr2 hr2 hr2 hr2"
			"actions actions actions actions actions actions actions";
		grid-template-columns: 70px 30px auto 40px auto 40px 1fr;
	}

	.logo {
		grid-area: logo;

		margin-bottom: 20px;
	}

	.title {
		grid-area: title;
	}

	.tags {
		grid-area: tags;

		margin-bottom: 20px;
	}

	.price {
		grid-area: price;
	}

	.credit {
		grid-area: credit;
	}

	.rating {
		grid-area: rating;
	}

	.priceTitle {
		grid-area: priceTitle;
	}

	.creditTitle {
		grid-area: creditTitle;
	}

	.rateTitle {
		grid-area: rateTitle;
	}

	.hr {
		grid-area: hr;
	}

	.description {
		grid-area: description;
	}

	.feature {
		grid-area: feature;

		margin-bottom: 20px;
	}

	.characteristics {
		padding-right: 0;
	}

	.advBlock {
		grid-area: advBlock;
	}

	.hr2 {
		grid-area: hr2;
	}

	.actions {
		grid-area: actions;
	}
}

@media screen and (max-width: 640px) {
	.product {
		grid-template-areas:
			"logo . title"
			"logo . tags"
			"priceTitle priceTitle price"
			"creditTitle creditTitle credit"
			"rateTitle rateTitle rating"
			"hr hr hr"
			"description description description"
			"feature feature feature"
			"advBlock advBlock advBlock"
			"hr2 hr2 hr2"
			"actions actions actions";
		grid-template-columns: 70px 30px 1fr;
	}

	.price {
		margin-bottom: 10px;
	}

	.credit {
		margin-bottom: 10px;
	}

	.rating {
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 480px) {
	.product {
		grid-template-columns: 1fr;
		grid-template-areas:
			"logo"
			"title"
			"tags"
			"price"
			"priceTitle"
			"credit"
			"creditTitle"
			"rating"
			"rateTitle"
			"hr"
			"description"
			"feature"
			"advBlock"
			"hr2"
			"actions";
	}
}
